/* RESET GLOBAL */
*, *::before, *::after {
  box-sizing:content-box
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(231, 231, 128);
  padding: 10px; /* Adicionado para o header ter altura e respiro */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(230, 230, 59);
  background-color: rgb(39, 39, 39);
}


#apres {
  padding-top: 60px;
}

#sobre {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Garante empilhamento se necessário */
  justify-content: center; /* Centraliza conteúdo se desejado */
}

#habil {
  padding-top: 60px;
}

a {

  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(150, 128, 5);
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#apres {
  padding-top: 60px;
}

#sobre {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Garante empilhamento se necessário */
  justify-content: center; /* Centraliza conteúdo se desejado */
}

#contato {
    padding-top: 60px;
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
}

.icone {
  fill: rgb(255, 238, 0);
  stroke: rgb(168, 142, 142);
  stroke-width: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 12px;
}

#habil {
  padding-top: 60px;
}