body {
    background-color:rgb(250, 246, 246); 
    color:rgb(2, 36, 36);
}

p {
    font-family: Arial, 'Times New Roman', Times, serif new roman, sans-serif;
    font-weight: bold;
}

.contato {
    /*border: 1px solid blue; */
    background-color: rgb(255, 255, 255);  
}

.info {
    /*border: 1 px solid green; */
    border: 1px solid blue;
    display: flex;
    flex-direction:row;
    justify-content:center;

}

.mim {
    /*border: 1px solid red; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:rgb(248, 247, 244) (199, 183, 102);
}

p {
    text-align: justify;
}





    

