* {
    margin:0px; 
    padding:0px;
}
/* CSS vem aqui em baixo*/

header {
    background-color: rgb(231, 231, 128);
    padding: 20px 0px;
    position: fixed;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 10px;
    color: rgb(231, 231, 128); background-color: rgb(102, 99, 99);
}

body a {
   text-transform: uppercase;
   text-decoration: none;
   color:black
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#apres {
    padding-top: 79px;
}

#sobre {
    padding-top: 60px;
}

#habil {
    padding-top: 60px;
}

#contato {
    padding-top: 60px;
}

.icone {
    fill:rgb(255, 238, 0);
    stroke:rgb(194, 165, 165);
    stroke-width: 5px;
    width: 75px;
    height: 75px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}